@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Nunito", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

#searchbar {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.137);
  display: flex;

  #search-input {
    font-size: 18px;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 300px;
    padding: 8px;
  }

  #search-button {
    min-height: 100%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 4px;
  }
}

#search-results-list {
  list-style-type: none;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  overflow-y: scroll;
  max-height: 250px;
  background-color: white;
}

.search-result-item {
  height: 60px;
  border-bottom: 1px solid gray;
  display: flex;
  cursor: pointer;
}

.hidden {
  display: none;
}
